/* reset, .clearfix */
abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,form,h1,h2,h3,h4,h5,h6,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;list-style-type: none;}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}svg{overflow:hidden}
.clearfix:after, .wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* defaults */
body {
	background: #fff;
	color: #000;
	font: 14px 'Univers LT W01_55 Roman', arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
strong, b {
	font-weight: normal;
}
a {
	text-decoration: underline;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) { html { -webkit-text-size-adjust: none; } }

/* header */
header .wrapper {
	padding: 60px 20px;
	max-width: 1280px;
	text-align: center;
}
header p {
	margin-top: 20px;
	color: #8a8d8f;
}

/* people */
main .wrapper {
	padding: 20px;
}
.people {
	max-width: 1320px;
}
.person {
	min-width: 180px;
	max-width: 200px;
	margin-bottom: 20px;
	margin-right: 20px;
	display: block;
	height: 360px;
	float: left;
}
.meta {
	padding: 10px 0;
	overflow-x: scroll;
	white-space: nowrap;
}
.meta p, .meta h2 {
	margin-bottom: 10px;
}
.meta h2 {
	font-size: 1em;
	color: #8a8d8f;
}
.meta a {
	text-decoration: none;
}

/* footer */
footer .wrapper {
	max-width: 1280px;
}
footer header {
	padding: 60px 20px;
	
	text-align: center;
}
footer header p {
	margin-top: 20px;
	color: #8a8d8f;
}
footer strong {
	color: #8a8d8f;
}
.foreword {
	padding: 20px;
	max-width: 500px;
}
.foreword p {
	margin-bottom: 20px;
}
.credits {
	padding: 20px;
	max-width: 500px;	
}
.credits_list {
	margin-bottom: 20px;
}
.credits_headline {
	margin-top: 20px;
}
.tutors_headline em {
	font-style: normal;
}