/* reset, .clearfix */
abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,form,h1,h2,h3,h4,h5,h6,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;list-style-type: none;}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}svg{overflow:hidden}
.clearfix:after, .wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* defaults */
body {
	background: #fff;
	color: #000;
	font: 14px 'Univers LT W01_55 Roman', arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
strong, b {
	font-weight: normal;
}
a {
	text-decoration: underline;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) { html { -webkit-text-size-adjust: none; } }

/* header */
header .wrapper {
	padding: 60px 20px;
	max-width: 1280px;
	text-align: center;
}
header p {
	margin-top: 20px;
	color: #8a8d8f;
}

/* people */
main .wrapper {
	padding: 20px;
}
.people {
	max-width: 1320px;
}
.person {
	min-width: 180px;
	max-width: 200px;
	margin-bottom: 20px;
	margin-right: 20px;
	display: block;
	height: 340px;
	float: left;
	position: relative;
}
.person:hover:after {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 130px;
	min-height: 100px;
	content: " ";
	display: block;
	z-index: 1;
	background: url(images/numbers/01.svg) no-repeat transparent;
	background-size: contain;
}
.meta {
	padding: 10px 0;
	overflow-x: scroll;
	white-space: nowrap;
}
.meta p, .meta h2 {
	margin-bottom: 5px;
}
.meta h2 {
	font-size: 1em;
	color: #8a8d8f;
}
.meta a {
	text-decoration: none;
}

/* footer */
footer .wrapper {
	max-width: 1280px;
}
footer header {
	padding: 60px 20px;
	
	text-align: center;
}
footer header p {
	margin-top: 20px;
	color: #8a8d8f;
}
footer strong {
	color: #8a8d8f;
}
.foreword {
	padding: 20px;
	max-width: 500px;
}
.foreword p {
	margin-bottom: 20px;
}
.credits {
	padding: 20px;
	max-width: 500px;	
}
.credits_list {
	margin-bottom: 20px;
}
.credits_headline {
	margin-top: 20px;
}
.tutors_headline em {
	font-style: normal;
}

.n02:hover:after { background-image: url(images/numbers/02.svg);}
.n03:hover:after { background-image: url(images/numbers/03.svg);}
.n04:hover:after { background-image: url(images/numbers/04.svg);}
.n05:hover:after { background-image: url(images/numbers/05.svg);}
.n06:hover:after { background-image: url(images/numbers/06.svg);}
.n07:hover:after { background-image: url(images/numbers/07.svg);}
.n08:hover:after { background-image: url(images/numbers/08.svg);}
.n09:hover:after { background-image: url(images/numbers/09.svg);}
.n10:hover:after { background-image: url(images/numbers/10.svg);}
.n11:hover:after { background-image: url(images/numbers/11.svg);}
.n12:hover:after { background-image: url(images/numbers/12.svg);}
.n13:hover:after { background-image: url(images/numbers/13.svg);}
.n14:hover:after { background-image: url(images/numbers/14.svg);}
.n15:hover:after { background-image: url(images/numbers/15.svg);}
.n16:hover:after { background-image: url(images/numbers/16.svg);}
.n17:hover:after { background-image: url(images/numbers/17.svg);}
.n18:hover:after { background-image: url(images/numbers/18.svg);}
.n19:hover:after { background-image: url(images/numbers/19.svg);}
.n20:hover:after { background-image: url(images/numbers/20.svg);}
.n21:hover:after { background-image: url(images/numbers/21.svg);}
.n22:hover:after { background-image: url(images/numbers/22.svg);}
.n23:hover:after { background-image: url(images/numbers/23.svg);}
.n24:hover:after { background-image: url(images/numbers/24.svg);}
.n25:hover:after { background-image: url(images/numbers/25.svg);}
.n26:hover:after { background-image: url(images/numbers/26.svg);}
.n27:hover:after { background-image: url(images/numbers/27.svg);}
.n28:hover:after { background-image: url(images/numbers/28.svg);}
.n29:hover:after { background-image: url(images/numbers/29.svg);}
.n30:hover:after { background-image: url(images/numbers/30.svg);}
.n31:hover:after { background-image: url(images/numbers/31.svg);}
.n32:hover:after { background-image: url(images/numbers/32.svg);}
.n33:hover:after { background-image: url(images/numbers/33.svg);}
.n34:hover:after { background-image: url(images/numbers/34.svg);}
.n35:hover:after { background-image: url(images/numbers/35.svg);}
.n36:hover:after { background-image: url(images/numbers/36.svg);}
.n37:hover:after { background-image: url(images/numbers/37.svg);}
.n38:hover:after { background-image: url(images/numbers/38.svg);}
.n39:hover:after { background-image: url(images/numbers/39.svg);}
.n40:hover:after { background-image: url(images/numbers/40.svg);}
.n41:hover:after { background-image: url(images/numbers/41.svg);}
.n42:hover:after { background-image: url(images/numbers/42.svg);}
.n43:hover:after { background-image: url(images/numbers/43.svg);}
.n44:hover:after { background-image: url(images/numbers/44.svg);}
.n45:hover:after { background-image: url(images/numbers/45.svg);}
.n46:hover:after { background-image: url(images/numbers/46.svg);}